.hide {
  display: none;
}

.display {
  display: block;
}

.mobile_hide {
  display: none;
}

.desktop_hide {
  display: block;
}

header .flex_end {
  display: flex;
  justify-content: end;
}

header .flex_space-between {
  display: flex;
  justify-content: space-between;
}

.iframe_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive_iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.portfolio_section {
  max-width: 500px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

@media (min-width: 700px) {
  .mobile_hide {
    display: block;
  }

  .desktop_hide {
    display: none;
  }
}

@media (min-width: 1150px) {
  .portfolio_section {
    display: grid;
    grid-template-columns: 1fr 350px 310px 350px 1fr;
    grid-template-rows: auto;
    max-width: 1050px;
    min-width: 0px;
    gap: 20px;
  }

  .section_01 .portfolio_title {
    grid-column: 2/5;
    grid-row: 1/2;
    margin: 0px;
  }
  .section_02 .portfolio_title {
    grid-column: 2/5;
    grid-row: 1/2;
    margin: 0px;
  }
  .section_03 .portfolio_title {
    grid-column: 2/5;
    grid-row: 1/2;
    margin: 0px;
  }

  .section_04 .portfolio_title {
    grid-column: 2/5;
    grid-row: 1/2;
    margin: 0px;
  }

  .section_01 .duration {
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 0px;
    max-height: 60px;
  }
  .section_02 .duration {
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 0px;
    max-height: 60px;
  }
  .section_03 .duration {
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 0px;
    max-height: 60px;
  }

  .section_04 .duration {
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 0px;
    max-height: 60px;
  }

  .section_01 .portfolio_feature {
    grid-column: 2/4;
    grid-row: 2/4;
    margin: 0px;
  }

  .section_01 .portfolio_learnings {
    grid-column: 4/5;
    grid-row: 3/5;
    margin: 0px;
  }

  .section_01 .portfolio_paragraph {
    grid-column: 2/4;
    grid-row: 4/6;
    margin: 0px;
  }

  .portfolio_paragraph p {
    font-size: 24px;
    line-height: 36px;
  }

  .portfolio_learnings li {
    font-size: 20px;
    line-height: 36px;
  }

  .section_01 .decoration_01 {
    grid-column: 4/5;
    grid-row: 5/6;
    margin: 0px;
  }

  .title_image {
    height: 120px;
  }

  .portfolio_title h2 {
    margin: 30px;
  }

  .section_02 .portfolio_feature {
    grid-column: 2/4;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    gap: 20px;
  }

  .section_02 .portfolio_feature img {
    padding-bottom: 0px;
  }

  .section_02 .portfolio_learnings {
    grid-column: 4/5;
    grid-row: 3/4;
    margin: 0px;
    height: 560px;
  }

  .section_02 .portfolio_links {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 0px;
    height: 265px;
  }

  .portfolio_link:last-of-type {
    margin-bottom: 0px;
  }

  .section_02 .portfolio_paragraph {
    grid-column: 3/5;
    grid-row: 4/6;
    margin: 0px;
  }

  .decoration_02 {
    margin: 0px;
    grid-column: 2/3;
    grid-row: 5/6;
    padding-top: 200px;
  }

  .img_02_05 {
    grid-column: span 2;
  }

  .section_02 {
    margin-bottom: 70px;
    padding-bottom: 10px;
  }

  .section_03 .portfolio_learnings {
    grid-column: 4/5;
    grid-row: 3/5;
    margin: 0px;
  }

  .section_03 .portfolio_feature {
    grid-column: 2/4;
    grid-row: 2/4;
    margin: 0px;
  }

  .section_03 .portfolio_paragraph {
    grid-column: 2/4;
    grid-row: 4/7;
    margin: 0px;
  }

  .section_03 .portfolio_links {
    grid-column: 4/5;
    grid-row: 5/6;
    margin: 0px;
  }

  .decoration_03 {
    grid-column: 4/5;
    grid-row: 6/7;
    margin: 0px;
  }

  .section_01 {
    padding-bottom: 10px;
    margin-bottom: 70px;
  }

  .section_04 .portfolio_learnings {
    grid-column: 4/5;
    grid-row: 3/5;
    margin: 0px;
  }

  .section_04 .portfolio_feature {
    grid-column: 2/4;
    grid-row: 2/4;
    margin: 0px;
  }

  .section_04 .links_1 {
    grid-column: 4/5;
    grid-row: 5/6;
    margin: 0px;
  }

  .section_04 .links_2 {
    grid-column: 4/5;
    grid-row: 7/8;
    margin: 0px;
  }

  .section_04 .portfolio_paragraph {
    grid-column: 2/4;
    grid-row: 4/8;
    margin: 0px;
  }

  .decoration_04 {
    grid-column: 4/5;
    grid-row: 6/7;
    margin: 0px;
  }
}
