.hide {
  display: none;
}

.mobile_hide {
  display: none;
}

.desktop_hide {
  display: block;
}

header .flex_end {
  display: flex;
  justify-content: end;
}

header .flex_space-between {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 700px) {
  .mobile_hide {
    display: block;
  }

  .desktop_hide {
    display: none;
  }
}
