header h3 {
  font-family: "Genos", sans-serif;
  color: white;
  font-size: 24px;
}

header a {
  text-decoration: none;
}

header .flex_space-between {
  padding: 10px 20px;
  border-bottom: white 1px solid;
  padding-left: 120px;
}
header .flex_space-between li:first-of-type {
  padding-right: 10px;
}

header .flex_end {
  padding: 10px 50px;
}

a h3:hover {
  color: #fdb009;
}

header .flex_end li {
  padding-left: 50px;
}

.burger_btn h3 {
  color: black;
  background-color: #fdb009;
  width: 175px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
}

.burger_btn h3:hover {
  background-image: url(../assets/btn_gradient.jpg);
  background-size: cover;
  color: white;
}

.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  transform: translate(20px, -84px);
}

.active {
  text-decoration: underline;
}

#burger_menu {
  background-color: #fdb009;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.burger_x {
  padding: 30px;
  margin-left: auto;
}

.burger_menu_item {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.burger_menu_item h4:hover {
  color: #134546;
}

.burger_menu_item h4 {
  font-family: "Climate Crisis", sans-serif;
  font-size: 32px;
  color: black;
  padding-top: 12px;
}

.burger_menu_item h5 {
  font-family: "Genos", sans-serif;
  font-size: 52px;
  color: black;
}

@media (min-width: 700px) {
  .burger_btn h3 {
    width: 300px;
    text-align: center;
    border-radius: 30px;
  }

  .logo {
    transform: translate(50px, -100px);
  }

  header .flex_space-between {
    padding: 10px 50px;
    padding-left: 170px;
  }

  header .flex_end li h3 {
    padding: 5px 0px;
  }

  .burger_menu_item h4 {
    font-size: 44px;
    padding-top: 14px;
  }

  .burger_menu_item h5 {
    font-size: 64px;
  }

  .burger_menu_item {
    width: 600px;
  }
}
